.loginPage{
    background-image: url('./img/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        width: 30%;
        padding: 40px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
        border-radius: 20px;

        .heading{
            div{
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                padding-bottom: 25px;
                color: white;
            }
        }

        .profileImg{
            width: 100px;
            margin: auto;
        }

        .inputBox{
            padding-top: 15px;

            label{
                display: block;
                font-size: 16px;
                padding-bottom: 7px;
                letter-spacing: 1.3px;
                color: white;
            }

            input{
                width: calc(100% - 20px);
                display: block;
                padding: 7px 10px;
                outline: none;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                letter-spacing: 1.2px;
                background-color: transparent;
                border-bottom: 1px solid white;
                color: white;

                &::placeholder{
                    color: rgb(160, 160, 160);
                }
            }
        }

        .buttonBox{
            padding-top: 40px;

            button{
                font-size: 20px;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                width: 100%;
                transition-duration: 0.3s;
                text-transform: uppercase;
                background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: white;

                &:hover{
                    background: #0F2027;
                }

                &:active{
                    background-color: black;
                }

                span{
                    font-size: 16px;
                    letter-spacing: 1.2px;
                    padding-left: 5px;
                }
            }
        }

        .bottomText{
            div{
                text-align: center;
                color: white;
                padding-top: 25px;
            }
        }
    }
}